#priceInp,
#priceMonthInp {
  width: 33rem;
  height: 0.1rem;
  appearance: none;
  outline: none;
}
#priceInp::-webkit-slider-thumb,
#priceMonthInp::-webkit-slider-thumb {
  appearance: none;
  background-color: #6f0bbb;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}
.card:hover {
  margin-top: 2.5rem;
  box-shadow: 0.1rem 1.3rem 3.3rem 0.3rem rgb(226, 226, 226);
  transition: 0.4s;
}
.swiper-pagination {
  position: relative;
  top: 30rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.swiper-pagination-bullet {
  position: relative;
  transition: width 0.1s ease-in-out;
  overflow: hidden;
  background-color: rgb(175, 175, 175);
}
.swiper-pagination-bullet-active {
  width: 1.5rem;
  border-radius: 1rem;
}
.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #6f0bbb;
  animation: bullet 3s ease-in-out;
}
@keyframes bullet {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.premium-card-div {
  background: linear-gradient(to right, black 0%, rgb(192, 192, 192) 100%);
}
.box {
  position: relative;
  border-bottom-left-radius: 0%;
}
.box::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 2rem solid #f5eee8;
  border-top: 2rem solid transparent;
  transform: rotate(90deg);
}
.info-btn:hover {
  transform: translateY(2rem);
  transition-duration: 1s;
}
#priceMonthInp::before {
  content: "3 ay";
  color: gray;
  font-size: 12px;
}
#priceMonthInp::after {
  content: "48 ay";
  color: gray;
  font-size: 12px;
  margin-right: 3px;
}
#priceInp::before {
  content: "300";
  color: gray;
  font-size: 12px;
}
#priceInp::after {
  content: "40 000";
  color: gray;
  font-size: 12px;
}
.about:hover {
  color: #6f0bbb;
  cursor: pointer;
}
.about:hover .about-span {
  transform: rotate(180deg);
}
@media screen and (max-width: 1870px) {
  .footer-div-parent {
    width: 100%;
  }
  .footer-div {
    width: 1050px;
  }
}
@media screen and (max-width: 1200px) {
  .sw-div {
    left: 50px;
  }
  .swiper-slide {
    height: 25rem;
  }
  .swiper-slide img {
    height: 25rem;
    width: 100%;
  }
  #ic-div {
    display: block;
  }
  #header {
    position: relative;
    background-color: white;
    margin-top: 0px;
  }
  .atb360,
  .navbar,
  .about,
  .az-div,
  .phone {
    display: none;
  }
  .icon {
    width: 5rem;
    height: 5rem;
    padding-top: 13px;
  }
  .search {
    position: absolute;
    right: 100px;
    bottom: 22px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 770px) and (max-width: 1200px) {
  .swiper-slide {
    width: 100vw;
  }
  .swiper-slide img {
    width: 100vw;
  }
  .info-title-parent {
    width: 100%;
  }
  #pro-div {
    width: 35%;
  }
  .credit-div {
    width: 100%;
  }
  #credit-div-item {
    width: 100%;
  }
  .credit-div-item {
    width: 60%;
  }
  #input-div {
    width: 86%;
  }
  #priceInp,
  #priceMonthInp {
    width: 86%;
  }
  #order-btn {
    width: 80%;
  }
  #sec3-div {
    flex-direction: column;
    align-items: center;
  }
  #info-div {
    width: 95%;
    height: 20rem;
  }
  #atb-card,
  #inf-div-card,
  .info-title-parent {
    width: 95%;
  }
  #sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sec3-div {
    width: 95%;
    align-items: center;
  }
  #atb-card-item {
    width: 90%;
    height: 17rem;
  }
  #inf-div {
    display: none;
  }
  #inf-div-card-item {
    width: 95%;
    height: 8rem;
    margin-right: 50px;
  }
  #inf-div-card-item-p {
    display: none;
  }
  #sec1 {
    flex-wrap: wrap;
    padding-top: 35px;
  }
  .card {
    width: 47%;
    margin-top: 5px;
  }
}
@media screen and (max-width: 770px) {
  .swiper-slide {
    width: 90%;
    left: 6%;
  }
  .swiper-slide img {
    width: 90%;
    border-radius: 5%;
    height: 20rem;
  }
  .credit-div {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #sec3-div {
    width: 95%;
    align-items: center;
    flex-direction: column;
  }
  #sec1 {
    flex-wrap: wrap;
    padding-top: 35px;
  }
  .card {
    width: 47%;
    margin-top: 5px;
  }
  #atb-card {
    display: none;
  }
  #inf-div {
    display: none;
  }
  #inf-div-card-item {
    width: 80%;
    height: 8rem;
    margin-right: 50px;
  }
  #inf-div-card-item-p {
    display: none;
  }
  #inf-div-card-item {
    width: 55%;
    height: 8rem;
    margin-right: 50px;
  }
  .info-title-parent {
    width: 95%;
  }
  #footer-div-item {
    flex-direction: column;
    align-items: start;
    gap: 0;
    padding-left: 10px;
  }
  #footer-div {
    flex-direction: column;
    gap: 10px;
    height: 25rem;
    align-items: start;
  }
  #footer-div-item12 {
    padding-left: 0%;
    border-left: none;
  }
}
